.fire {
  background-color: #FF793F;
}

.flying {
  background-color: #34ACE0;
}

.grass {
  background-color: #6AB04C;
}

.poison {
  background-color: #574B90;
}

.water {
  background-color: #0984E3;
}

.bug {
  background-color: #BADC58;
}

.normal {
  background-color: #B2BEC3;
}

.electric {
  background-color: #F1C40F;
}

.ground {
  background-color: #F5CD79;
}

.fairy {
  background-color: #FF9FF3;
}

.fighting {
  background-color: #E15F41;
}

.psychic {
  background-color: #FC427B;
}

.rock {
  background-color: #CCAE62;
}

.steel {
  background-color: #B2BEC3;
}

.ice {
  background-color: #74B9FF;
}

.ghost {
  background-color: #574B90;
}

.dragon {
  background-color: #574B90;
}